@import "~materialize-css/dist/css/materialize.min.css";

.btn.deep-orange {
  margin-right: 10px;
}

input.orange-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input.orange-input + label {
  color: #fff!important;
}

input.orange-input:focus + label {
  color: #ffab00!important;
}

input.orange-input:focus {
  border-bottom: 1px solid #ffab00!important;
  box-shadow: 0 1px 0 0 #ffab00!important;
}